.button

  &_action
    padding 7px 16px 8px
    margin 0
    font-size 12.5px
    display block
    zoom 1
    cursor pointer
    white-space nowrap
    outline none
    vertical-align top
    line-height 15px
    text-align center
    text-decoration none
    background none
    background-color #5181b8
    color #fff
    border 0
    border-radius 4px
    box-sizing border-box


