.users
  // display flex
  // justify-content center
  &__button

    &_more 
      width 150px
      margin auto
  
  &__hint
    display block
    margin 0 auto 20px
    width 230px

.user 
  display flex
  align-items center
  cursor pointer
  margin-bottom 15px

  &__full-name
    display flex
    margin-bottom 20px

  &__link
    color #2a5885
    text-decoration none
    cursor pointer

  &__contacts 
    color black

  &__img
    margin-right 30px

    img 
      border-radius 50%
      max-width 100%