.home
    width 800px
    margin auto
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    border-radius 4px
    box-sizing border-box
    padding 42px 40px
    background-color white
    margin-top 116px