.user-info
  width 800px
  margin auto
  padding 42px 40px
  margin-top 100px
  display flex

  &__avatar
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    border-radius 4px
    box-sizing border-box
    background-color white
    width 240px
    padding 20px
    margin-right 20px

  &__content
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    border-radius 4px
    box-sizing border-box
    background-color white
    width 100%
    padding 20px
  
  &__name
    font-size 24px
    margin-bottom 25px
    border-bottom 1px solid #d7d8db
    padding-bottom 8px
  
  &__about

    &-row
      display flex
      margin-bottom 15px

    &-label
      margin-right 15px
      width 165px
      min-width 165px