.search
  width 230px
  margin auto

  &__input
    border 0
    box-sizing border-box
    padding 6px 6px 6px 19px
    margin 7px 0
    height 28px
    line-height 16px
    width 230px
    border-radius 14px
    transition background-color 0.05s, color 0.05s
    background #224b7a 
    padding-left 19px
    border-left 8px solid transparent
    background-position left 8px
    color #d9e2ec
    outline none 

    &::placeholder
      color white

    &:focus
      background white
      color black