.navigation-bar
  position fixed
  height 106px
  width 100%
  left 0
  top 0
  z-index 120
  direction ltr
  background #4a76a8
  padding 15px 50px
  box-sizing border-box

  &__header
    display flex
    justify-content space-between
    align-items center

  &__name
    color white
  
  &__col
    
    &_right,
    &_left
      width 150px

    &_right
      display flex
      justify-content flex-end
  
  h1
    color white
    margin 0